<% provide(:title, 'About us') %>
<%= image_tag("earthday.jpg") %>
<div class="row">
<div class="span0">
</div>
<div class="span11">
<p>Our school's Parent Teacher Organization runs an extremely successful giftcard program. Thanks to generous parents, hardworking volunteers, and an outstanding giftcard referral program, both the school's staff and the school's Parent Teacher Organization benefit. Proceeds from he program help buy our plants for Earth Day.</p> 

<p>Although the program is successful, it also requires a lot of manual processing. 
We created ThankTheTeacher.com to help solve this problem and make saying thanks a snap. We hope you enjoy the service and including the 3% cash back that to your school's Parent Teacher Organization. That can buy a lot of trees!
</p>
<br>
<p>
If you have questions, suggestions, or need help,
please contact <a href="mailto: matthew.r.newell@gmail.com">Matthew Newell</a>.
</p>
</div>
</div>

