<% provide(:title, 'About us') %>
<%= image_tag("earthday.jpg") %>
<div class="row">
<div class="span0">
</div>
<div class="span11">
<br>
<body>
We created ThankTheTeacher.com to facilitate funding and purchasing Gift Cards for teachers and coaches.  We hope you enjoy the service including the <strong>5% cash back</strong> on all purchases that goes back to the Gift Card Campaign Organizer. 

<h4>About Gift Cards</h4>
We get our Cards from Amazon.com. Amazon.com gives us a 6% commission on our Gift Card purchaces. We give 5% back to the person that organized the Gift Card Campaign. Thank the Teacher takes 1% to run the site. 
<br><br>
<h4>Service Fees</h4>
It costs us about 3% of each transaction to process credit cards on a secure server. At checkout, we add a small fee to cover this cost. 
<br>
<br>

If you have questions, suggestions, or need help,
please contact <a href="mailto: matthew.r.newell@gmail.com">Matt</a>.
</body>
<br>
<br>
<br>
<p>
  <small>This site was built on software developed by <a href = "http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">Michael Hartl</a>.</small>  
</p>

</div>
</div>

