<% provide(:title, 'Help') %>
<h1>Help</h1>
<h5>Definitions</h5>
<ul>
  <li>Campaigns are created by users to launch a giftcard program for your school.</li>
  <li>Recipients are all of the lucky teachers that will be getting giftcards.</li>
  <li>other helpful stuff</li>
</ul>
