<div class="center hero-unit">
  <h1>Parent Funded Gift Cards</h1>
  <h1>for Teachers</h1>
  <h2>
    Say thanks with a
    <%= link_to("gift", tour_path) %>  they will really appreciate.
  </h2>

  <%= link_to "Take the Tour", signup_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("img-giftcards.jpg", :height => "30%", :width => "30%",
                        alt: "Teachers love Giftcards!"), about_path%>
