<div class="center hero-unit">
  <h1>Parent Funded Gift Cards</h1>
  <h1>for Teachers and Coaches</h1>
  <h2>
    And <%= link_to "5% Cash Back", about_path %> to the Campaign Organizer
  </h2>

  <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("img-giftcards.jpg",
                        alt: "Teachers & Coaches Love Giftcards!"), about_path%>
