<% provide(:title, 'Sign up') %>
<div class="row">
  <div class="span8 offset3">
<h4>Sign up</h4>
<p>
  Registration is for the volunteer that will be running a Gift Card Campaign. Registration is not necessary to contribute to a Gift Card Campaign. 
</p>


    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create my account", class: "btn btn-large btn-warning" %>
    <% end %>
  </div>
</div>
