<% provide(:title, 'Sign up') %>
<div class="row">
  <div class="span8 offset3">
<h4>Sign up</h4>
<p>
  Registration is for the parent volunteer running your school or classroom's giftcard campaign. You do not need to register to donate to your teacher's Gift Card account.
</p>


    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
