<table>
  
  <tr>
    <td> <%= button_to 'Thanks', line_items_path(recipient_id: recipient), remote: true, class: "btn-mini btn-primary"  %>
    </td>
    <td>
      <body><%= recipient.first_name %> <%= recipient.last_name %>
      
      </body><br>
      <span class="timestamp"> <%= recipient.title %> </span>
    </td>
  </tr>
</table>