<div class="row">
<aside class="span3">
    <section>
      <h1>
       
        <%= render @cart %>
      </h1>
   
    </section>
  </aside>

<div class="span8">
  <fieldset>
    <legend>Please Enter Your Details</legend>

    <%= render 'form' %>
  </fieldset>
</div>
</div>