<h1>Active Gift Card Campaigns</h1>

<div class="row">
<aside class="span3">
    <section>
    
   
    </section>
  </aside>


<div class="span8">
<table class = "table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>End date</th>
      <th>Created by</th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= link_to campaign.title, campaign %></td>
        <td><%= campaign.end_date %></td>
        <td><%= campaign.user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>

