
<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
    
    <td><%= line_item.recipient.first_name %> 
        <%= line_item.recipient.last_name %>
    </td>
    <td>
      <div class="text-right">
        <%= number_to_currency(line_item.quantity) %>
      </div>
    </td>
</tr>
